<div class="container">
  <div class="image-container">
    <img src="/src/app/assets/logoConnect.png" alt="Left Image" />
  </div>
  <div class="form-container">
    <img src="assets/top-image.jpg" alt="Top Image" class="top-image" />
    <form (ngSubmit)="onRegister()">
      <div class="form-group-inline">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="" required />
        </div>
        <div class="form-group">
          <label>Apellido</label>
          <input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="" required />
        </div>
      </div>

      <div class="form-group">
        <label>Correo</label>
        <input type="email" [(ngModel)]="user.email" name="email" placeholder="" required />
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="user.password" name="password" placeholder="" required />
      </div>

      <div class="checkbox-group">
        <div>
          <label for="profesor">
            <input type="radio" id="profesor" [(ngModel)]="user.tipoUsuario" name="tipoUsuario" value="profesor" />
            Profesor
          </label>
        </div>
        <div>
          <label for="estudiante">
            <input type="radio" id="estudiante" [(ngModel)]="user.tipoUsuario" name="tipoUsuario" value="estudiante" />
            Estudiante
          </label>
        </div>
      </div>

      <div class="form-group-inline">
        <div class="form-group">
          <label>Carrera</label>
          <select [(ngModel)]="user.carrera" name="carrera">
            <option *ngFor="let carrera of carreras" [value]="carrera">{{ carrera }}</option>
          </select>
        </div>
        <!-- El campo ciclo solo se muestra si tipoUsuario es estudiante -->
        <div class="form-group" *ngIf="user.tipoUsuario === 'estudiante'">
          <label>Ciclo</label>
          <select [(ngModel)]="user.ciclo" name="ciclo">
            <option *ngFor="let ciclo of ciclos" [value]="ciclo">{{ ciclo }}</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
</div>
