<<<<<<< HEAD
.search-bar-container {
  display: flex;
  align-items: center; /* Asegura que estén alineados verticalmente */
  width: 100%; 
  margin-top: 20px;

  .search-bar {
    margin-left: 80px;
    flex: 0.8; /* Ocupa el máximo espacio disponible */
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 15px;
    background-color: #ece6f0; 
    outline: none;
    min-width: 500px;
  }

  .publish-button {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Espaciado entre la barra y el botón */
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #00b2e3; 
    color: white;
    font-size: 16px;
    cursor: pointer;

    i {
      margin-right: 8px; /* Espaciado entre el ícono y el texto */
    }

    &:hover {
      background-color: darken(#00b2e3, 10%); /* Color más oscuro al pasar el mouse */
    }
  }
=======
/* Contenedor de la barra de búsqueda */
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  width: 100%;
  max-width: 800px; /* Limita el ancho máximo */
}

/* Barra de búsqueda */
.search-bar {
  width: 70%; /* Ocupa el 70% del espacio */
  padding: 10px 15px;
  border: none;
  border-radius: 20px; /* Bordes redondeados */
  background-color: #F6F1FA; /* Color de fondo */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  font-size: 16px;
}

/* Botón Publicar */
.publish-button {
  background-color: #00b2e3;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px; /* Ancho fijo */
  max-width: 90%; /* Responsivo */
  height: auto; /* Ajustable según el contenido */
  position: relative; /* Necesario para la "X" */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}


.modal-title {
  font-size: 18px;
  color: #00b2e3;
  margin-bottom: 20px;
  text-align: center;
}

/* Campos del formulario */
.input-field,
.textarea-field,
.select-field {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.textarea-field {
  height: 100px;
  resize: none;
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  background-color: #00b2e3;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
>>>>>>> f7e00d106f1ed2ab2e89fb20306bd10d377a4dc8
}
