<div class="search-bar-container">
  <button class="publish-button" (click)="toggleModal()">
    <i class="fa fa-plus"></i> Publicar
  </button>

  <!-- Modal -->
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <h2 class="modal-title">Agrega tu post</h2>
      <form (ngSubmit)="submitPost()" [formGroup]="postForm">
        <span class="modal-close" (click)="toggleModal()">×</span>
        
        <!-- Campo de título -->
        <label for="titulo">Título</label>
        <input
          type="text"
          id="titulo"
          placeholder="Escribe el título del post"
          formControlName="titulo"
          class="input-field"
        />

        <!-- Campo de contenido -->
        <label for="contenido">Contenido</label>
        <textarea
          id="contenido"
          placeholder="Escribe el contenido del post"
          formControlName="contenido"
          class="textarea-field"
        ></textarea>

        <!-- Selector de tipo de blog -->
        <label for="tipo">Tipo de blog</label>
        <select id="tipo" formControlName="tipo" class="select-field">
          <option value="informacion">informacion</option>
          <option value="pregunta">Pregunta</option>
        </select>

        <!-- Campo de archivo adjunto -->
        <label for="archivosAdjuntos">Agregar multimedia</label>
        <input
          type="file"
          id="archivosAdjuntos"
          (change)="onFileChange($event)"
          class="modal-button"
        />

        <!-- Botones -->
        <div class="button-group">
          <button type="submit" class="modal-button">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
