<!-- Container for Form -->
<div class="container">
  <!-- Imagen de blog a la izquierda -->
  <div class="image-container">
    <img src="assets/blog.png" alt="Imagen de Blog" />
  </div>

  <!-- Contenedor del formulario -->
  <img src="assets/connect.png" alt="Imagen Connect" class="top-image" />
  <div class="form-container">
    <!-- Imagen connect encima del formulario -->

    <!-- Formulario reactivo -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Campo de correo -->
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input
          type="email"
          id="correo"
          formControlName="correo"
          placeholder="Ingresa tu correo"
          class="form-control"
          required />
        <!-- Mensajes de error dinámicos -->
        <div
          *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched">
          <small *ngIf="loginForm.get('correo')?.errors?.['required']"
            class="error-text">
            El correo es obligatorio.
          </small>
          <small *ngIf="loginForm.get('correo')?.errors?.['email']"
            class="error-text">
            Ingresa un correo válido.
          </small>
        </div>
      </div>

      <!-- Campo de contraseña -->
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input
          type="password"
          id="contrasena"
          formControlName="contrasena"
          placeholder="Ingresa tu contraseña"
          class="form-control"
          required />
        <!-- Mensajes de error dinámicos -->
        <div
          *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched">
          <small *ngIf="loginForm.get('contrasena')?.errors?.['required']"
            class="error-text">
            La contraseña es obligatoria.
          </small>
          <small *ngIf="loginForm.get('contrasena')?.errors?.['minlength']"
            class="error-text">
            La contraseña debe tener al menos 6 caracteres.
          </small>
        </div>
      </div>

      <!-- Mensaje de error global -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <!-- Botones -->
      <button type="submit" class="btn btn-primary"
        [disabled]="loading || loginForm.invalid">
        {{ loading ? 'Cargando...' : 'INICIAR SESIÓN' }}
      </button>
      <button type="button" class="btn btn-link" (click)="navigateToRegister()">
        REGISTRARSE
      </button>
    </form>
  </div>
</div>
