<div class="sidebar">
  <div class="logo">
    <img src="assets/connect.png" alt="Logo" />
  </div>
  <ul class="nav-links">
    <li>
      <i class="icon fa fa-home"></i>
      <a routerLink="/">Inicio</a>
    </li>
    <li>
      <i class="icon fa fa-plus"></i>
      <a routerLink="/publicar">Publicar</a>
    </li>
    <li>
      <i class="icon fa fa-exclamation-circle"></i>
      <a routerLink="/blogs/informativo">Informativos</a>
    </li>
    <li>
      <i class="icon fa fa-question-circle"></i>
      <a routerLink="/blogs/consulta">Consultas</a>
    </li>
    <li>
      <i class="icon fa fa-user"></i>
      <a routerLink="/user">Perfil</a>
    </li>
    <li>
      <i class="fa fa-sign-out-alt"></i> 
      <a routerLink="/login" (click)="onLogout()">Cerrar Sesión</a>
    </li>
  </ul>
</div>
