/* Contenedor principal */
.user-profile {
  flex-grow: 1; /* Permite que el contenido ocupe el espacio restante */
  margin-left: 200px; /* Espacio igual al ancho de la barra lateral */
  padding: 20px;
  background-color: #f8f9fa;
  height: 100vh; /* Asegura que el contenido tenga la misma altura */
  overflow-y: auto; /* Permite el scroll si el contenido es muy grande */
  border-left: 1px solid #e0e0e0; /* Línea de separación del contenido */
}

/* Encabezado del perfil */
.profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Cambia space-between a flex-start */
  gap: 5px; /* Funciona correctamente ahora */
  width: 100%;
  max-width: 900px; /* Limitar ancho */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 40px 0px; /* Reducir padding */
  border-bottom: 4px solid #00b2e3;
}

/* Contenedor de la imagen */
.profile-img-container {
  margin-left: 100px;
  margin-right: 50px;
}

.profile-img-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #00b2e3; /* Borde azul */
  object-fit: cover;
}

/* Información del perfil */
.profile-info {
  flex-grow: 1;
  justify-content: center;
  text-align: start;
}

.profile-info h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.profile-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

/* Botones de acción */
.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;
}

.profile-buttons button {
  background-color: #00b2e3;
  color: white;
  border: none;
  padding: 8px 15px; /* Reducir tamaño del botón */
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-buttons button i {
  font-size: 16px;
}

.profile-buttons button:hover {
  background-color: #008bb5;
}

/* Botones de filtrado */
.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Limitar ancho */
  margin: 0 auto;
  padding: 10px 0;
}

.tabs button {
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 14px;
}

.tabs button.active {
  background-color: #00b2e3;
  color: white;
}

.tabs button:hover {
  background-color: #008bb5;
  color: white;
}
